<!-- 綁定表單名稱 -->
<form [formGroup]="applyForm">
  <!-- formControlName 為剛剛建立的表單控制元件名稱 -->
  <div>
    帳號: <input type="text" formControlName="userName" [(ngModel)]="userName">
  </div>
  <div>
    密碼: <input type="password" formControlName="password" [(ngModel)]="password">
  </div>
  <div>
    信箱: <input type="text" formControlName="email" [(ngModel)]="email">
  </div>
  <div>
    userName:{{userName}}
  </div>
  <div>
    password:{{password}}
  </div>
  <div>
    email:{{email}}
  </div>

</form>

<app-hello></app-hello>
<button mat-raised-button color="primary" (click)="onAddOneClick()" style="margin-left: 10px;">
  <mat-icon>add</mat-icon>
</button>
<button mat-raised-button color="primary" (click)="onMinusOneClick()" style="margin-left: 10px;">
  <mat-icon>remove</mat-icon>
</button>
