<section>
  <p>加入新的英雄：</p>
  <!-- <form class="example-container" [formGroup]="options">
    <mat-form-field appearance="outline" formControlName="test" [(ngModel)]='test'>
      <mat-label>姓名：</mat-label>
      <input matInput placeholder="輸入姓名">
    </mat-form-field>
  </form> -->
  姓名：<input type="text" [(ngModel)]='inputDefaultHero.name'>
  年齡：<input type="text" [(ngModel)]='inputDefaultHero.age'>
  <button mat-raised-button color="primary" (click)="addHero()" style="margin-left: 10px;">加入英雄</button>
  <!-- <button type="button" class="btn btn-primary ml-3">Primary</button> -->
  <!-- <button (click)="addHero()">加入英雄</button> -->
</section>
