<mat-sidenav-container class="demo-container">
  <mat-sidenav #sideNav mode="side" class="demo-sidenav" [opened]="sideNavOpened">
    <!-- <mat-list mode="push" class="menu-list">
      <mat-list-item mat-list-item>
        <div mat-line>管理員選單</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item mat-list-item class="list-item" routerLink="{{item.route}}" *ngFor="let item of sidenavList">
        <div mat-line>{{item.label}}</div>
      </mat-list-item>


    </mat-list> -->
    <p-tree [value]="sidenavList" class="w-full md:w-30rem" selectionMode="single">
      <ng-template let-node pTemplate="default">
        <span (click)="navigateTo(node.route)">{{node.label}}</span>
      </ng-template>
    </p-tree>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
